{% load i18n bootstrap3 fontawesome %}


<ul class="status">
{% if show_current_only %}
    <li>{{ object.status_complete }}</li>
{% else %}
    {% for s in object.get_status_list %}
        <li class="{% if not forloop.last %} text-grey {% endif %}">{{ s.1 }} {{ s.0|date:"SHORT_DATE_FORMAT" }}</li>
    {% endfor %}
{% endif %}
</ul>
{% if object.status == object.STATUS_PUBLISHED %}
    <small>{% trans "Osallistumisaikaa" %} {{ object.auto_transfer_at|timeuntil }}</small>
{% endif %}


{% if object.kua_initiative %}
    {% if object.kua_initiative.is_editable and object.kua_initiative.created_by_id == user.pk %}
        <hr>
        <a href="{{ object.kua_initiative.management_url }}" class="btn btn-primary">
            {% fa_icon "edit" %} {% trans "Muokkaa kuntalaisaloitetta" %}
        </a>
    {% elif object.kua_initiative.is_public %}
        <hr>
        <a href="{{ object.kua_initiative.get_absolute_url }}" class="btn btn-primary">
            {% fa_icon "eye" %} {% trans "Näytä kuntalaisaloite" %}
        </a>
    {% endif %}
{% endif %}


{% comment %}
{% if object in perm.content.CanTransferIdeaToKUA %}
    <hr>
    <div id="kua-transfer">
        <a class="btn btn-primary ajaxy-link kuntalaisaloite-button" href="{% url 'content:kua_confirmation' initiative_id=object.pk %}" data-toggle="ajaxy-modal">{% trans "Tee kuntalaisaloite" %}&hellip;</a>
    </div>
{% endif %}
{% endcomment %}