{% extends 'content/content_base.html' %}

{% load i18n bootstrap3 fontawesome static bleach_tags comments %}

{% block precontent %}
    {# TODO: move styles to a file #}
    <style>
        .fixed-write-idea, #id_included_comments_wrap {
            display: none;
        }
        .container {
            margin-bottom: 15px;
        }
        .pdf-fake-header {
            background-color: #fff;
            padding: 10px;
        }
        .small-p-margin > .btn {
            display: none;
        }
        #pdf-form {
            margin-bottom: 50px;
        }

        body > header, body > footer {
            display: none;
        }
        .btn, .pdf-hide, #pdf-form {
            display: none;
        }
        body, .container {
            background-color: #fff !important;
            margin-bottom: 0;
        }
    </style>

    {# TODO: muuta käyttämään nuka/pdf/header-templatea #}
    <div class="pdf-fake-header pdf-preview-hide">
        <div class="container">
            {% include 'nuka/logo.html' %}
            <div class="pull-right">
                <span class="pull-right">{% trans "Tämä idea on luotu Nuortenideat.fi-vaikuttamispalvelussa." %}</span>
                <br>
                <a href="{{ BASE_URL }}{{ object.get_absolute_url }}" target="_blank">{{ BASE_URL }}{{ object.get_absolute_url }}</a>
                <br>
                {{ name }}
                <br>
                {{ contacts|linebreaksbr }}
            </div>
        </div>
    </div>
{% endblock precontent %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block idea_main %}
    {% if object.picture %}
        {% include 'content/idea_main_picture.html' %}
    {% endif %}

    <div class="title ajaxy-wrap editable-wrap">
        <h1 class="h2-style">{{ object.title }}</h1>
    </div>

    {{ block.super }}

    <div class="well">

        <div class="unsafe description">
            {% if object.html_allowed %}
                {{ object.description|bleach }}
            {% else %}
                {{ object.description|linebreaksbr }}
            {% endif %}
        </div>

        {% if object.details.count %}
            <h3 class="h4-style">{% trans "Lisätietoa" %}</h3>
            <div id="additional-details">
               {% include "content/additional_detail_list.html" with details=object.details.all %}
            </div>
        {% endif %}
    </div>
{% endblock idea_main %}

{% block idea_comments %}
    <article class="well" id="comments">
        {% if pdf_comments_hidden %}
            <div class="alert alert-info">
                {% trans "Huom. osa kommenteista on poistettu." %}
            </div>
        {% endif %}
        <header>
            <h3 class="h4-style">{% trans "Kommentit" %} ({{ comments.count }})</h3>
        </header>
        <div class="content">
            {% include 'nkcomments/comment_list.html' with comments=comments %}
        </div>
    </article>
{% endblock idea_comments %}

{% block idea_side_1 %}

    <div id="owners">
        <div class="ajaxy-wrap editable-wrap">
            {% include "content/owner_list.html" with owners=object.owners.all %}
        </div>
    </div>
    <div id="votes-comments">
        {% include "content/initiative_stats.html" %}
    </div>
    <hr>
    {% include "content/idea_status.html" with hide_actions=True %}

    <hr>
    <div id="organizations">
        <h4 class="h5-style">{% trans "Organisaatiot" %}</h4>
        <div class="ajaxy-wrap editable-wrap">
            {% include "content/organization_list.html" with orgs=object.target_organizations.all %}
        </div>
    </div>

    <hr>

    <div id="subjects">
        <h4 class="h5-style">{% trans "Aiheet" %}</h4>
        <div class="ajaxy-wrap editable-wrap">
            {% include "content/tag_list.html" with tags=object.tags.all %}
        </div>
    </div>

{% endblock idea_side_1 %}

{% block idea_share_buttons %}{% endblock idea_share_buttons %}

{% block idea_gallup %}
    {% for gallup in object.gallup_set.all %}
        <aside class="ajaxy-wrap">
            {% include "gallup/well.html" with show_results=True disabled=True %}
        </aside>
    {% endfor %}

    {% for idea_survey in object.idea_surveys.all %}
        <aside class="ajaxy-wrap">
            {% include 'idea_survey/survey_container.html' with edit_mode=False no_pagination=True %}
        </aside>
    {% endfor %}
{% endblock idea_gallup %}

