{% extends 'content/content_base.html' %}

{% load i18n bootstrap3 fontawesome static permitter flagging favorites moderation %}
{% block title %}{% trans "Idea" %}: {{ object.title|truncatechars:50 }} - {{ block.super }}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "survey/css/survey.css" %}" type="text/css">
{% endblock css %}

{% block js_extra %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'idea_survey/js/idea_survey.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            {% if object in perm.content.CanEditInitiativeOrSettings %}
                var ideaEditUrl = '{% url 'content:edit_idea' object.pk %}';

                function toggleEditButtons(preview) {
                    $('.idea-edit-buttons > .edit-mode').toggle(preview);
                    $('.idea-edit-buttons > .preview-mode').toggle(!preview);
                }

                function getFormElements(url) {
                    return $.get(url, function(data) {
                        updateFormElements(data);
                    });
                }

                function updateFormElements(data) {
                    var wrap = null;
                    $.each(data['data'], function (i, val) {
                        wrap = $('.editable-wrap[data-form-wrap="' + i + '"]');
                        // unbind modreasoning so it works even after ajaxy call
                        if (wrap.data('modreasoning')) {
                            wrap.removeData('modreasoning');
                            wrap.unbind('beforeAjaxySubmit');
                        }

                        if (wrap.length) {
                            wrap.html(val);
                        } else {
                            console.log('Element ' + wrap.selector + ' does not exist');
                        }
                    });
                    toggleEditButtons(data['preview']);

                    if (data['reload']) {
                        // reload commenting block when settings changed
                        $('#comments').trigger('ajaxy-reload');
                    }
                    $('#moderation-reasons').trigger('ajaxy-reload');
                    togglePremoderationCheckbox();
                }

                function togglePremoderationCheckbox() {
                    var disable = $('#id_settings-commenting_closed').prop('checked');
                    $('#id_settings-premoderation').attr('disabled', disable);

                    $('label[for=id_settings-premoderation]').toggleClass('text-disabled', disable);
                }

                $(document).on('click', '#id_settings-commenting_closed', function() {
                    togglePremoderationCheckbox();
                });

                $('.edit-idea.edit').on('click', function() {
                    getFormElements(ideaEditUrl);
                });

                $('.edit-idea.cancel').on('click', function() {
                    var url = ideaEditUrl + '?preview=true';
                    getFormElements(url);
                });

                var idea_edit_submit = function() {
                    var formData = $('.editable-wrap[data-form-wrap]').
                            find('form').find(':input').serialize();

                    var beforeSubmit = $.Event("beforeAjaxySubmit")

                    $('#title').trigger(beforeSubmit);
                    if (!beforeSubmit.isDefaultPrevented()) {
                        $.post(ideaEditUrl, formData).done(function(data) {
                            updateFormElements(data);
                        });
                    }
                };
                $('.edit-idea.save').on('click', idea_edit_submit);
                $('#title').on('submit', idea_edit_submit);

                $(document).on('click', '.open-commenting-settings', function() {

                    getFormElements(ideaEditUrl).done(function() {
                        var target = $("#id_settings-commenting_closed_wrap").parents('fieldset');
                        window.scrollTo(0, target.offset().top);
                    });
                });

            {% endif %}


            $('#add-details-btn').on('click', function() {
                window.scrollTo(0, $("#additional-detail-form-wrap").offset().top);
            });

            $(document).on('click', '.add-details-cancel', function() {
                $('#additional-detail-form-wrap').html('');
            });

            $(document).on('ajaxy-refreshed', '#idea-additional-detail-list > .new-detail', function() {
                $('#additional-detail-form-wrap').html('');
                $(this).removeClass('new-detail');
                $('<li class="new-detail ajaxy-wrap"></li>').appendTo('#idea-additional-detail-list');
            });

            $(document).on('ajaxy-refreshed', '.vote-form-wrap', function() {
                $('#votes-comments').trigger('ajaxy-reload');
                if ($('.edit-idea.edit').length) {
                    $('.edit-idea.edit').html("{% trans "Muokkaa asetuksia" %}");
                }
            });

            $(document).on('ajaxy-refreshed', '.picture-wrap', function() {
                $('.modal').modal('hide');
            });
        });
    </script>
{% endblock js_extra %}

{% block breadcrumb_content %}
    <li><a href="{% url 'content:initiative_list' %}">{% trans "Ideat" %}</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock breadcrumb_content %}

{% block precontent %}
    <div class="container progress-bar-container">
        <div class="well">{% include 'progress_bar/progress_bar.html' %}</div>
    </div>
{% endblock precontent %}

{% block idea_main %}
    <div class="idea-edit-buttons">
        <div class="edit-mode text-center">
            {% if object.visibility != object.VISIBILITY_ARCHIVED %}
                {% if object in perm.content.CanPublishIdea %}
                    <a href="{% url 'content:publish_idea' initiative_id=object.pk %}" class="btn btn-default btn-green ajaxy-link" data-toggle="ajaxy-modal">{% bootstrap_icon "share" %} {% trans "Julkaise idea" %}</a>
                {% elif object in perm.content.CanPublishIdeaDecision %}
                    <a href="{% url 'content:publish_idea_decision' initiative_id=object.pk %}" class="btn btn-default btn-green ajaxy-link" data-toggle="ajaxy-modal">{% trans "Kirjaa vastaus" %}&hellip;</a>
                {% endif %}
            {% endif %}

            {% if object in perm.content.CanEditIdea %}
                <a href="#" class="edit-idea edit btn btn-default">{% trans "Muokkaa ideaa" %}</a>
            {% elif object in perm.content.CanChangeIdeaSettings %}
                <a href="#" class="edit-idea edit btn btn-default">{% trans "Muokkaa asetuksia" %}</a>
            {% endif %}



            {% if object in perm.content.CanAddIdeaDetails %}
                <a href="{% url 'content:add_detail' initiative_id=object.pk %}" id="add-details-btn" class="btn btn-default ajaxy-link edit-link" data-ajaxy-target="#additional-detail-form-wrap">{% fa_icon "edit" %} {% trans "Uusi lisätieto" %}</a>
            {% endif %}

            {% if object in perm.content.CanCreateSurvey %}
                <a id="create-survey-btn" href="{% url 'content:create_survey' object.pk %}" class="btn btn-default ajaxy-link disable-after-press" data-ajaxy-method="post">{% fa_icon "bar-chart fa-fw" %} {% trans "Uusi kysely" %}</a>
            {% endif %}

            {% block idea_tools_menu %}
                {% if object in perm.content.CanViewIdeaTools %}
                    {{ block.super }}
                {% endif %}
            {% endblock idea_tools_menu %}
        </div>
        {% if object in perm.content.CanEditIdea or object in perm.content.CanChangeIdeaSettings %}
            <div class="preview-mode text-center">
                <a href="#" class="edit-idea save btn btn-default">{% trans "Tallenna" %}</a>
                <a href="#" class="edit-idea cancel btn btn-default">{% trans "Peruuta muokkaus" %}</a>
            </div>
        {% endif %}
    </div>


    {% if object.status == object.STATUS_DRAFT %}
        <script type="text/javascript">
            $(function() { $(".description").children("a.edit-link").trigger("click"); });
        </script>

        <div class="alert alert-info">
            {% trans "Ideasi on vielä luonnos. Halutessasi voit muokata sitä tässä vaiheessa valitsemalla ”Muokkaa ideaa”. Jos haluat liittää ideaasi kyselyn, voit tehdä sen nyt kohdasta ”Uusi kysely”. Kun ideasi on valmis, julkaise se ”Julkaise idea” -painikkeella. Kun julkaistu ideasi saa ensimmäisen kannatuksen tai kommentin, sitä ei voi enää muokata, mutta siihen voi kirjoittaa lisätietoja." %}
        </div>
    {% endif %}

    <div id="idea-picture" class="ajaxy-wrap editable-wrap picture-wrap" data-form-wrap="picture">
        {% include "content/idea_detail_picture.html" %}
    </div>

    {% if object.visibility == object.VISIBILITY_ARCHIVED %}
        <div class="alert alert-info">
            {% trans "Idea on arkistoitu." %}
        </div>
    {% endif %}


    <div id="title" class="ajaxy-wrap editable-wrap modreasoning-wrap" data-form-wrap="title">
        {% include "content/idea_detail_title.html" with no_edit=True %}
    </div>

    {{ block.super }}

    <div id="description" class="description ajaxy-wrap editable-wrap" data-form-wrap="description">
        {% include "content/idea_detail_description.html" with no_edit=True %}
    </div>

    <div id="idea-settings" class="ajaxy-wrap editable-wrap" data-form-wrap="settings"></div>

    {% if object in perm.content.CanEditIdea or object in perm.content.CanChangeIdeaSettings %}
        <div class="idea-edit-buttons">
            <div class="preview-mode text-center">
                <a href="#" class="edit-idea save btn btn-default">{% trans "Tallenna" %}</a>
                <a href="#" class="edit-idea cancel btn btn-default">{% trans "Peruuta muokkaus" %}</a>
            </div>
        </div>
    {% endif %}

    <div id="moderation-reasons" class="ajaxy-wrap" data-ajaxy-url="{% url 'content:idea_moderation_reasons' object.pk %}">
        {% include 'content/moderation_reasons.html' %}
    </div>

    {% if not object.visibility == object.VISIBILITY_ARCHIVED %}
        <hr>
        <div id="vote-buttons">
            {% if object in perm.content.CanVoteInitiative %}
                <div class="ajaxy-wrap vote-form-wrap display-inline">
                    {% include "content/idea_vote_buttons.html" %}
                </div>
            {% else %}
                <div class="alert alert-info">
                    {% if object.status == object.STATUS_DRAFT %}
                        {% trans "Idea on luonnos ja se ei näy muille käyttäjille ennen kuin se on julkaistu." %}
                    {% else %}
                        {% blocktrans with status=object.status_or_visibility %}Ideaa ei voi kannattaa, koska se on tilassa "{{ status }}".{% endblocktrans %}
                    {% endif %}
                </div>
            {% endif %}
            {% if request.user.is_authenticated and object.status != object.STATUS_DRAFT %}
                <div class="ajaxy-wrap display-inline">{% fav_link object %}</div>
            {% endif %}
        </div>
    {% endif %}

    {% if object.details.count or object in perm.content.CanAddIdeaDetails %}
        <hr>
        <section id="additional-details">
            {% include "content/idea_detail_additional_details.html" %}
        </section>
    {% endif %}
    {% if object.status != object.STATUS_DRAFT %}
        {% flag_link object extraclass='pull-right' %}
        <div class="clearfix"></div>
    {% endif %}
{% endblock idea_main %}

{% block idea_owners_inclusion %}
    {% include "content/idea_detail_owners.html" with no_edit=True %}
{% endblock idea_owners_inclusion %}

{% block idea_organizations_inclusion %}
   {% include "content/idea_detail_organizations.html" with no_edit=True %}
{% endblock idea_organizations_inclusion %}

{% block idea_tags_inclusion %}
    {% include "content/idea_detail_tags.html" with no_edit=True %}
{% endblock idea_tags_inclusion %}

{% block initiative_stats %}
    {% if object.status != object.STATUS_DRAFT %}
        <div id="votes-comments" class="ajaxy-wrap" data-ajaxy-url="{% url 'content:initiative_stats' initiative_id=object.pk %}">{% include "content/initiative_stats.html" %}</div>
    {% endif %}
{% endblock initiative_stats %}

{% block idea_share_buttons %}
    {% if not object.visibility == object.VISIBILITY_ARCHIVED and object.status != object.STATUS_DRAFT %}
        {{ block.super }}
    {% endif %}
{% endblock idea_share_buttons %}

{% block idea_tools %}{% endblock idea_tools %}

{% block idea_tools_menu_items %}
    {% if object in perm.content.CanViewIdeaTools %}

        {% if object.kua_initiative %}
            {% if object.kua_initiative.is_editable and object.kua_initiative.created_by_id == user.pk %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{{ object.kua_initiative.management_url }}">
                        {% fa_icon "edit" %} {% trans "Muokkaa kuntalaisaloitetta" %}
                    </a>
                </li>
            {% elif object.kua_initiative.is_public %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{{ object.kua_initiative.get_absolute_url }}">
                        {% fa_icon "eye" %} {% trans "Näytä kuntalaisaloite" %}
                    </a>
                </li>
            {% endif %}
        {% endif %}

        {% if object in perm.content.CanTransferIdeaToKUA %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" class="ajaxy-link" href="{% url 'content:kua_confirmation' initiative_id=object.pk %}" data-toggle="ajaxy-modal">
                    {% fa_icon "arrow-circle-right" %} {% trans "Tee kuntalaisaloite" %}&hellip;
                </a>
            </li>
        {% endif %}

        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url 'account:create_message' user.pk %}">
                {% fa_icon "print fa-envelope" %} {% trans "Kirjoita viesti" %}
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" class="open-commenting-settings" href="#">
                {% fa_icon "comments" %} {% trans "Kommentoinnin asetukset" %}
            </a>
        </li>

        {% if object in perm.content.CanArchiveIdea %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'content:archive_idea' initiative_id=object.pk %}" class="ajaxy-link" data-ajaxy-method="POST">{% fa_icon 'archive' %} {% trans "Arkistoi idea" %}</a>
            </li>
        {% elif object in perm.content.CanUnArchiveIdea %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'content:unarchive_idea' initiative_id=object.pk %}" class="ajaxy-link" data-ajaxy-method="POST">{% trans "Palauta arkistoitu idea" %}</a>
            </li>
        {% endif %}

        {% if object in perm.content.CanDeleteIdea and not object in perm.content.CanUnArchiveIdea  %}
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'content:delete_idea' object.pk %}" id="delete-idea">
                    {% fa_icon "remove fa-fw" %} {% trans "Poista idea" %}
                </a>
            </li>
        {% endif %}

    {% endif %}
{% endblock idea_tools_menu_items %}

{% block idea_gallup %}
    {% for gallup in object.gallup_set.all %}
        {% if gallup in perm.nkvote.CanViewGallup %}
            {% if gallup.interaction != gallup.INTERACTION_REGISTERED_USERS or request.user.is_authenticated %}
                <aside class="ajaxy-wrap">
                    <a name="gallup-{{ gallup.id }}"></a>
                    {# Below checks could probably be done better #}
                    {% if gallup.is_draft and gallup.default_results %}
                        {% include "gallup/well.html" with show_results=True disabled=True %}
                    {% elif gallup.is_draft %}
                        {% include "gallup/well.html" with disabled=True %}
                    {% elif gallup.is_closed %}
                        {% include "gallup/well.html" with show_results=True disabled=True %}
                    {% elif gallup in answered_gallups %}
                        {% include "gallup/well.html" with show_results=True disabled=True %}
                    {% elif gallup.default_results %}
                        {% include "gallup/well.html" with show_results=True %}
                    {% else %}
                        {% include "gallup/well.html" %}
                    {% endif %}
                </aside>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div id="surveys" class="ajaxy-wrap" data-ajaxy-url="{{ survey_block_url }}">{% include 'idea_survey/survey_wrap.html' %}</div>
    <div class="modal fade" id="survey-done-modal" tabindex="-1" role="dialog" aria-labelledby="surveyDoneModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="surveyDoneModalLabel">{% trans "Kysely" %}</h4>
                </div>
            <div class="modal-body">
                {% trans "Vastauksesi on tallennettu." %} {% trans "Kiitos kyselyyn osallistumisesta!" %}
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Sulje" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock idea_gallup %}
