{% load i18n favorites %}
{% if initiatives %}
    <div id="initiative-elements" class="user-elements {% if all_columns_user %}all-columns{% endif %} {% if not hide_title %}border-magenta{% endif %}">
        {% if not hide_title %}
            <div id="initiative-elements-title" class="title-magenta">
                <p>{% trans "Kannata ja kommentoi ideoita" %}</p>
            </div>
        {% endif %}
        {% for initiative in initiatives %}
            <article class="initiative-element">
                <!-- Type -->
                <div class="initiative-element-type list-only">
                    <i class="ni-icon {{ initiative.is_idea|yesno:'ni-icon-idea,ni-icon-question' }}"></i>
                </div>

                <!-- Picture -->
                {% if initiative.picture %}
                    <div class="initiative-element-picture card-only">
                        <div class="no-picture-bar-magenta"></div>
                        <a class="idea-box-picture" href="{{ initiative.get_absolute_url }}">
                            <img class="img-responsive" src="{{ initiative.picture_narrow.url }}" alt="{{ initiative.picture_alt_text }}">
                        </a>
                    </div>
                {% else %}
                    <div class="initiative-element-picture card-only no-picture-bar-magenta"></div>
                {% endif %}

                <!-- Title -->
                <div class="initiative-element-title card-only">
                    <h2><a href="{{ initiative.get_absolute_url }}">{{ initiative.title }}</a></h2>
                </div>

                <!-- Owners -->
                <div class="initiative-element-owners card-only">
                    {% include "content/owner_list.html" with owners=initiative.owners.all all_small=True %}
                </div>

                <!-- Date -->
                <div class="initiative-element-date card-only">
                    {{ initiative.published|date:"d.m.Y" }}
                </div>

                <!-- Title, users and date -->
                <div class="initiative-element-main-info list-only">
                    <a href="{{ initiative.get_absolute_url }}"><strong>{{ initiative.title }}</strong></a><br>
                        {% include "content/owner_links.html" with owners=initiative.owners.all|slice:":2" comma_separated=True %}{% if initiative.owners.all|length > 2 %}, &hellip;{% endif %}
                    <br>
                    <i class="small">
                        {% if initiative.published %}
                            {{ initiative.published|date:"d.m.Y" }} klo {{ initiative.published|date:"H.i" }}
                        {% else %}
                            {{ initiative.created|date:"d.m.Y" }} klo {{ initiative.created|date:"H.i" }}
                        {% endif %}
                    </i>
                </div>

                <!-- Organizations -->
                <div class="initiative-element-organizations">
                    <div class="card-only">
                            {% include "content/organization_list.html" with orgs=initiative.target_organizations.all %}
                        </div>
                        <div class="list-only">
                        {% include "nuka/object_links.html" with objects=initiative.target_organizations.all|slice:":2" %}{% if initiative.target_organizations.all|length > 2 %}, &hellip;{% endif %}
                    </div>
                </div>

                <!-- Tags -->
                <div class="initiative-element-tags list-only">
                    <div class="initiative-element-status list-only">
                        <em>{% trans "Tila" %}: {{ initiative.status_or_visibility }}</em>
                    </div>
                    {% autoescape off %}
                        {{ initiative.tags.all|slice:":2"|join:", "}}{% if initiative.tags.all|length > 2 %}, &hellip;{% endif %}
                    {% endautoescape %}
                </div>

                <!-- Stats -->
                <div class="initiative-element-stats">
                    {% include "content/initiative_stats.html" with object=initiative %}
                </div>
            </article>
        {% endfor %}
    </div>
{% endif %}
