{% load i18n bootstrap3 %}

<script type="text/javascript">
    $(function() {
        $('.survey-checkbox').on('change', function() {
            var pk = $(this).attr('data-survey-pk');
            var is_selected = $(this).prop('checked');
            $('#id_included_surveys option[value="'+pk+'"]').
                    prop('selected', is_selected);
        });

        $('.survey-checkbox').trigger('change');

        $('#id_transfer_date_wrap').addClass('alert alert-success');

        /*
        var toggleTransferChoices = function(immediately) {
            $('#id_transfer_immediately_wrap').toggleClass('alert alert-success', immediately);
            $('#id_transfer_date_wrap').toggleClass('alert alert-success', !immediately);
            $('#id_transfer_date').attr('disabled', immediately);
        };

        $(document).on('click', '#id_transfer_date_wrap', function(e) {
            toggleTransferChoices(false);
            $('#id_transfer_immediately').prop('checked', false);
        });

        $(document).on('change', '#id_transfer_immediately', function(e) {
            $(this).trigger('toggleTransferChoices');
        });

        $(document).on('toggleTransferChoices', '#id_transfer_immediately', function() {
            toggleTransferChoices($(this).prop('checked'));
        });

        $('#id_transfer_immediately').trigger('toggleTransferChoices');
        */

        /** Disabling submit */
        $(document).on('change', '#id_agreement', function() {
            $(this).trigger('toggleDisabled');
        });

        $(document).on('toggleDisabled', '#id_agreement', function() {
            $(this).parents('form').find('button[type="submit"]').attr('disabled', !$(this).prop('checked'));
        });

        $('#id_agreement').trigger('toggleDisabled');

        $('#publish-form-submit').on('click', function() {
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> lähetetään...');
        })

    });
</script>

<div class="modal-header">
    <h1 class="h2-style">{% trans "Idean julkaisu ja eteenpäin vieminen" %}
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Sulje" %}</span></button>
    </h1>
</div>

<div class="modal-body" style="padding-bottom:45px;">
    <form id="publish-idea-form" method="post" action="{% url 'content:publish_idea' object.pk %}" novalidate class="margin-top-md ajaxy-form">
        {% csrf_token %}
        {% bootstrap_field form.transfer_date %}

        {% if object.idea_surveys.drafts %}
            <hr>
            <h2 class="h4-style">{% trans "Kyselyt" %}</h2>
            <div class="help-block">{% trans "Voit julkaista samalla ideaasi liittyvät kyselyt. Poista valinta kyselyistä, joita et halua julkaista vielä." %}</div>
            {% for s in object.idea_surveys.drafts %}
                <ul class="list-unstyled">
                    <li>
                        <input id="survey-cb-{{ s.pk }}" type="checkbox" class="survey-checkbox" checked="checked" data-survey-pk="{{ s.pk }}">
                        <label for="survey-cb-{{ s.pk }}">{{ s }}</label>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

        {% bootstrap_field form.included_surveys %}

        <hr>
        {% bootstrap_field form.agreement %}
        <div class="clear margin-top-md"></div>
        <button id="publish-form-submit" type="submit" class="btn btn-default">{% trans "Julkaise idea" %}</button>
        <button class="btn btn-default" data-dismiss="modal">{% trans "Peruuta" %}</button>
    </form>
</div>