{% extends 'account/profile_base.html' %}

{% load i18n bootstrap3 %}

{% block breadcrumb_content %}
    {% if object in perm.account.CanEditUser %}
        <li><a href="{% url 'account:profile' request.user.pk %}">{% trans "Oma sivu" %}</a></li>
        <li><a href="{% url 'account:messages' object.pk %}">{% trans "Viestit" %}</a></li>
        <li class="active">{% trans "Uusi viesti" %}</li>
    {% else %}
        <li><a href="{% url 'account:profile' request.user.pk %}">{% trans "Käyttäjä" %}</a></li>
        <li class="active">{{ object.get_short_name }}</li>
    {% endif %}
{% endblock breadcrumb_content %}

{% block subcontent %}
    <a name="sisalto"></a>
    <div class="well">
        <form method="post" action="{{ form_action }}" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-default btn-lg" type="submit">{% trans "Lähetä" %}</button>
                <a class="btn btn-default btn-lg pull-right" href="{% url 'account:messages' object.pk %}#sisalto">{% trans "Peruuta" %}</a>
            {% endbuttons %}
        </form>
    </div>
{% endblock subcontent %}