{% extends "nkadmin/base.html" %}

{% load i18n bootstrap3 %}

{% block subtitle %}{% endblock subtitle %}

{% block content %}
    {{ block.super }}

    <div class="well">
        <h2>{% blocktrans %}Käyttäjän {{ object }} salasanan vaihto{% endblocktrans %}</h2>
        <form role="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "save" %} {% trans "Tallenna" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}
