{% extends 'content/idea_multiform/base_inputs.html' %}
{% load i18n bootstrap3 %}

{% block content %}
    <div class="multiform-border">
        <h3 class="h4">{% trans "Asetukset" %}</h3>
        {{ block.super }}
    </div>
{% endblock %}

{% block form_body %}
    {% if form.auto_transfer_at and form.instance.status < form.instance.STATUS_TRANSFERRED %}
        {% bootstrap_field form.auto_transfer_at %}
    {% endif %}

    <fieldset class="multiform-fieldset">
        <legend>{% trans "Kommentointi" %}</legend>
        {% bootstrap_field form.premoderation %}
        {% bootstrap_field form.commenting_closed %}
    </fieldset>
    {% bootstrap_field form.interaction %}
{% endblock form_body %}