<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    {% load i18n staticfiles bootstrap3 compress active_class fontawesome jsonize lang mustachejs %}
    {% get_current_language as LANGUAGE_CODE %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta_extra %}

        {% endblock meta_extra %}

        <title>{% block title %}{% if PRACTICE %}{% trans 'Nuortenideat.fi harjoittelu' %}{% else %}{% trans "Nuortenideat.fi" %}{% endif %}{% endblock title %}</title>

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'nuka/img/favicon/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'nuka/img/favicon/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'nuka/img/favicon/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'nuka/img/favicon/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'nuka/img/favicon/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'nuka/img/favicon/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'nuka/img/favicon/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'nuka/img/favicon/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'nuka/img/favicon/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'nuka/img/favicon/favicon-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'nuka/img/favicon/favicon-160x160.png' %}" sizes="160x160">
        <link rel="icon" type="image/png" href="{% static 'nuka/img/favicon/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'nuka/img/favicon/favicon-16x16.png' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'nuka/img/favicon/favicon-32x32.png' %}" sizes="32x32">

        <link rel="stylesheet" type="text/css" media="screen" href="//fonts.googleapis.com/icon?family=Material+Icons+Outlined">

        <meta name="msapplication-TileColor" content="#db4491">
        <meta name="msapplication-TileImage" content="{% static 'nuka/img/favicon/mstile-144x144.png' %}">

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
        {% block css %}
            {% compress css %}
                <link rel="stylesheet" href="{% static "nuka/scss/nuka.scss" %}" type="text/x-scss">
            {% endcompress %}

            {% compress css %}
                <link rel="stylesheet" href="{% static "bootstrap3_datetime/css/bootstrap-datetimepicker.css" %}" type="text/css">
                <link rel="stylesheet" href="{% static "bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" %}" type="text/css">
                <link rel="stylesheet" href="{% static "bower_components/select2/select2.css" %}" type="text/css">
                <link rel="stylesheet" href="{% static "bower_components/select2-bootstrap3-css/select2-bootstrap.css" %}" type="text/css">
                <link rel="stylesheet" href="{% static "redactor/css/redactor.css" %}" type="text/css">
                <link rel="stylesheet" href="{% static "multilingo/css/multilingo.css" %}" type="text/css">
                <link rel="stylesheet" href="{% static "cropping/scss/cropping.scss" %}" type="text/x-scss">
                <link rel="stylesheet" href="{% static "nuka/css/jquery.Jcrop.min.css" %}" type="text/x-scss">
                <link rel="stylesheet" href="{% static "formidable/css/formidableformset.css" %}" type="text/css">
            {% endcompress %}
                <style>
                    /* hack: because redactor.css sets z-indez: 100 !important */
                    #redactor_modal {
                      z-index: 1151 !important;
                    }
                </style>
        {% endblock css %}

        {% block js %}

            {% compress js %}
                <script type="text/javascript" src="{% static "bower_components/underscore/underscore.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/mustache/mustache.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/moment/moment.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/moment/locale/fi.js" %}"></script>
                <script type="text/javascript" src="{% static "libs/django.mustache.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/backbone/backbone.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/backbone-super/backbone-super/backbone-super.js" %}"></script>

                <script type="text/javascript" src="{% static "bower_components/jquery-form/jquery.form.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>

                <script type="text/javascript" src="{% static "bootstrap3_datetime/js/moment.min.js" %}"></script>
                <script type="text/javascript" src="{% static "bootstrap3_datetime/js/bootstrap-datetimepicker.js" %}"></script>
                <script type="text/javascript" src="{% static "bootstrap3_datetime/js/locales/bootstrap-datetimepicker.fi.js" %}"></script>
                <script type="text/javascript" src="{% static "bootstrap3_datetime/js/locales/bootstrap-datetimepicker.sv.js" %}"></script>

                <script type="text/javascript" src="{% static "bower_components/select2/select2.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/select2/select2_locale_sv.js" %}"></script>
                <script type="text/javascript" src="{% static "bower_components/select2/select2_locale_fi.js" %}"></script>

                <script type="text/javascript" src="{% static "bower_components/firebase/firebase.js" %}"></script>

                {% mustachejs "moderators-online" %}
                {% mustachejs "group-chats" %}
                {% mustachejs "create-group-chat" %}
                {% mustachejs "chatbar" %}
                {% mustachejs "private-chat-window" %}
                {% mustachejs "group-chat-window" %}
                {% mustachejs "group-chat-users" %}
                {% mustachejs "group-chat-settings-menu" %}
                {% mustachejs "chat-tab" %}
                {% mustachejs "chat-message" %}
                {% mustachejs "message-form" %}
                {% mustachejs "partner-online-status-change" %}
                {% mustachejs "room-user" %}
                {% mustachejs "room-user-context-menu" %}
                {% mustachejs "room-moderated" %}
                {% mustachejs "message-removed" %}

                <script type="text/javascript" src="{% static "nkchat/js/firechat.js" %}"></script>
                <script type="text/javascript" src="{% static "nkchat/js/nkchat.js" %}"></script>

                <script type="text/javascript" src="{% static "redactor/redactor.js" %}"></script>
                <script type="text/javascript" src="{% static "redactor/langs/fi.js" %}"></script>
                <script type="text/javascript" src="{% static "redactor/langs/sv.js" %}"></script>
                <script type="text/javascript" src="{% static "nuka/js/redactor.options.js" %}"></script>

                <script type="text/javascript" src="{% static "nuka/js/jquery.csrf.js" %}"></script>
                <script type="text/javascript" src="{% static "nuka/js/jquery.ajaxy.js" %}"></script>
                <script type="text/javascript" src="{% static "nuka/js/nuka.js" %}"></script>

                <script type="text/javascript" src="{% static "nkmoderation/js/jquery.modreasoning.js" %}"></script>
                <script type="text/javascript" src="{% static "multilingo/js/jquery.multilingo.js" %}"></script>
                <script type="text/javascript" src="{% static "nuka/js/jquery.Jcrop.min.js" %}"></script>
                <script type="text/javascript" src="{% static "formidable/js/jquery.formidableformset.js" %}"></script>
            {% endcompress %}

            <!--[if lte IE 9]>
                {# ie8 + other legacy browsers: <script type="text/javascript" src="{% static "bower_components/firechat/src/js/shims.js" %}"></script> #}
                <script type="text/javascript" src="{% static "bower_components/masonry/dist/masonry.pkgd.min.js" %}"></script>
            <![endif]-->

            {% if firebase.enabled %}
                <script type="text/javascript">
                    $(function () {
                        "use strict";
                        {% spaceless %}
                        var nkChat = new NkChat(
                            '{{ firebase.base_url }}', '{{ firebase.auth_token }}', $('.nkchat-wrap')
                        );
                        {% endspaceless %}
                    });
                </script>
            {% endif %}

        {% endblock js %}

        {% block js_extra %}

        {% endblock js_extra %}

        <script type="text/javascript">
            $(function () {

                setCsrfToken('{{ csrf_token }}');

                $(document).on('click', '.toteuttamaton', function () {
                    window.alert("Toiminto toteuttamatta");
                });

                $('[data-toggle="popover"]').popover();

                $(document).on('focus', '.nuka-datetimepicker', function() {
                    $(this).parent('.date').data('DateTimePicker').show();
                });
            });
        </script>

        {% if MATOMO_ID %}
            <!-- Matomo -->
            <script type="text/javascript">
              var _paq = _paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="{{ MATOMO_URL }}";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '{{ MATOMO_ID }}']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="{{ MATOMO_URL }}piwik.php?idsite={{ MATOMO_ID }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
            <!-- End Matomo Code -->
        {% endif %}
    </head>

    <body>
        <a href="#maincontent" class="skip-link">{% trans "Siirry sisältöön" %}</a>
        <header id="global-header">
            {% include 'omnavi/header_nav.html' %}
            <div class="container">
                <div id="language-authentication-links" class="row">
                    <div class="col-md-12 visible-xs">
                        {% if not perm.nuka.IsAuthenticated %}
                        <a id="login-link" href="{% url 'account:login' %}">{% trans "Kirjaudu sisään" %}</a>
                        {% else %}
                        <a id="profile-link" href="{% url 'account:profile' request.user.pk %}">{{ request.user }}</a>
                        |
                        <a id="logout-link" href="{% url 'account:logout' %}">{% trans "Kirjaudu ulos" %}</a>
                        {% endif %}
                        {% if not request.user.is_authenticated and not_deprecated %}
                        | <a id="register-link" href="{% url 'account:signup_choices' %}">{% trans "Rekisteröidy" %}</a>
                        {% endif %}
                    </div>
                </div>

                <!-- When screen width more than 500, show mobile button next to logo -->
                <div class="row deprecation_banner"><span style="vertical-align:text-top" class="material-icons-outlined">info</span>&nbsp;&nbsp;&nbsp;{% trans "HUOM! Nuortenideat.fi -palvelu poistuu käytöstä 15. elokuuta 2022. Palveluun ei voi rekisteröityä eikä uusia ideoita voi julkaista 1.6.2022 lähtien." %}
                    <a class="deprecation_link" target="_blank" href="https://www.nuortenideat.fi/{{ LANGUAGE_CODE }}/tiedotteet/98/#topic-98">{% trans "Lue lisää asiasta ja Nuortenideat.fi:n korvaavista palveluista." %}</a>
                </div>
                <div class="row hidden-lt-500 logo-row">
                    <div class="col-md-6 col-sm-6 col-xs-9">
                        <a href="{% url 'frontpage' %}">
                            {% include 'nuka/logo.html' %}
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs" id="language-authentication-links">
                        {% for code,lang in LANGUAGES %}
                            {% if code != LANGUAGE_CODE %}
                                <a href="{% lang_switch code %}" id="language-change-link">{{ lang }}</a>
                                {# TODO: should we post to {% url 'set_language' %} instead? #}
                            {% endif %}
                        {% endfor %}

                        {% if not perm.nuka.IsAuthenticated %}
                            <a id="login-link" href="{% url 'account:login' %}">{% trans "Kirjaudu sisään" %}</a>
                        {% else %}
                            <a id="profile-link" href="{% url 'account:profile' request.user.pk %}">{{ request.user }}</a>
                            <a id="logout-link" href="{% url 'account:logout' %}">{% trans "Kirjaudu ulos" %}</a>
                        {% endif %}
                        {% if not user.is_authenticated and not_deprecated %}
                            | <a id="register-link" href="{% url 'account:signup_choices' %}">{% trans "Rekisteröidy" %}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs" id="idea-search">
                        {% comment %}
                        <form action="{% url 'content:initiative_list' %}#search-results">
                            <label class="sr-only" for="base_idea_search">{% trans 'Hae ideaa' %}</label>
                            <input id="base_idea_search" class="form-control" type="text" name="words" placeholder="{% trans 'Hae ideaa' %}">
                        </form>
                        {% endcomment %}
                    </div>
                    <div class="col-xs-3">
                        <nav class="navbar ni-nav pull-right">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                                <span class="sr-only">Toggle nation</span>
                                <i class="ni-icon ni-icon-mobile-nav"><span class="sr-only">{% trans "Valikko" %}</span></i>
                            </button>
                        </nav>
                    </div>
                </div>
                <!-- When screen width less than 500, show mobile button beneath logo -->
                <div class="row visible-lt-500 logo-row">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="{% url 'frontpage' %}">
                                {% include 'nuka/logo.html' with img_class="img-responsive-90-percent" %}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <nav class="navbar ni-nav text-center">
                                <button type="button" class="no-pull navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                                    <span class="sr-only">Toggle nation</span>
                                    <img src="{% static 'nuka/img/btn-mobi-nav.png' %}?ver=15.3.2016" alt="{% trans "Valikko" %}">
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>

                <nav class="navbar ni-nav">
                    <div class="container-fluid" style="padding: 0; margin: 0;">
                        <div class="collapse navbar-collapse" id="navbar-main">
                            {% comment %}
                            <form action="{% url 'content:initiative_list' %}" class="navbar-form visible-xs" role="search">
                                <div class="form-group">
                                    <label class="sr-only" for="base_idea_search_xs">{% trans 'Hae ideaa' %}</label>
                                    <input id="base_idea_search_xs" class="form-control" type="text" name="words" placeholder="{% trans 'Hae ideaa' %}">
                                </div>
                            </form>
                            {% endcomment %}

                            <ul class="nav navbar-nav nav-right-padded">
                                <li{% class_active_if_url 'frontpage' 'info:topic_detail' %}>
                                    <a href="{% url 'frontpage' %}">{% trans "Etusivu" %}</a>
                                </li>
                                <li{% class_active_if_namespace 'content' %}>
                                    <a href="{% url 'content:initiative_list' %}">{% trans "Ideat" %}</a>
                                </li>
                                <li{% class_active_if_namespace 'organization' %}>
                                    <a href="{% url 'organization:list' %}">{% trans "Organisaatiot" %}</a>
                                </li>
                                <li{% class_active_if_namespace 'help' %}>
                                    <a href="{% url 'help:instruction_list' %}">{% trans "Tietoa palvelusta" %}</a>
                                </li>
                                <li{% class_active_if_namespace 'campaign' %}>
                                    <a href="{% url 'campaign:campaign_list' %}">{% trans "Materiaalit" %}</a>
                                </li>
                                <li{% class_active_if_namespace 'info' %}>
                                    <a href="{% url 'info:topic_list' %}">{% trans "Ajankohtaista" %}</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li{% class_active_if_namespace 'account' %}>
                                    <a href="{% url 'account:profile' request.user.pk %}">{% trans "Oma sivu" %}</a>
                                    {% with unread_messages=request.user.unread_messages %}
                                        {% if unread_messages %}
                                            <span class="badge" style="background-color:#767676;">
                                                <a href="{% url 'account:messages' request.user.pk %}" title="{% trans 'Lukemattomia viestejä' %}">
                                                    {{ unread_messages }}
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% endwith %}
                                </li>
                                {% endif %}
                            </ul>

                            <ul class="nav navbar-nav navbar-right nav-left-padded">
                                <li style="border-top: 1px solid #efefef;"></li>
                                <li class="visible-xs">
                                    {% for code,lang in LANGUAGES %}
                                        {% if code != LANGUAGE_CODE %}
                                            <a href="{% lang_switch code %}" id="language-change-link">{{ lang }}</a>
                                            {# TODO: should we post to {% url 'set_language' %} instead? #}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        {% block subnavi %}
        {% endblock subnavi %}

        {% block breadcrumb %}
            <nav aria-label="breadcrumb">
                <div class="container breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        {% block breadcrumb_content %}
                            <li class="active">{% trans "Etusivu" %}</li>
                        {% endblock breadcrumb_content %}
                    </ol>
                </div>
            </nav>
        {% endblock breadcrumb %}

        {% block precontent %}
        {% endblock precontent %}

        {% if request.path == '/fi/' or request.path == '/sv/' %}
            {% include 'nuka/main_buttons.html' %}
        {% endif %}

        <main id="maincontent" class="container" style="margin-top: 20px;" tabindex=”-1″>
            {% bootstrap_messages %}
            {% block content %}
            {% endblock content %}
        </main>

        <!-- {% if request.path == '/fi/' or request.path == '/sv/' %}
            {% include 'nuka/info_bar.html' %}
            <footer id="global-footer" style="margin-top: 0;">
        {% else %}
        {% endif %} -->
        <footer id="global-footer">
            <div class="container">
                <div class="row footer-nav-links">
                    <div class="col-xs-12">
                        <a href="{% url 'frontpage' %}">{% trans "Etusivu" %}</a> |
                        <a href="{% url 'content:initiative_list' %}">{% trans "Ideat" %}</a> |
                        <a href="{% url 'organization:list' %}">{% trans "Organisaatiot" %}</a> |
                        <a href="{% url 'help:instruction_list' %}">{% trans "Tietoa palvelusta" %}</a>
                        {% if perm.nkadmin.CanAccessAdminPanel %}
                            | <a href="{% url 'nkadmin:moderation_queue' %}">{% trans "Hallinta" %}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row footer-images-row">
                    <div class="col-md-3 col-xs-12">
                        <a href="{% url 'frontpage' %}">
                            <i class="ni-icon ni-icon-logo-large-grey"><span class="sr-only">{% trans "Nuortenideat.fi" %}</span></i>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6 footer-logo">
                                <a href="https://www.facebook.com/nuortenideat" target="_blank">
                                    <i class="ni-icon ni-icon-facebook-large-grey"><span class="sr-only">Facebook</span></i>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 footer-logo">
                                <a href="http://twitter.com/Nuortenideat" target="_blank">
                                    <i class="ni-icon ni-icon-twitter-large-grey"><span class="sr-only">Twitter</span></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 footer-logo">
                                <a href="http://instagram.com/nuortenideat" target="_blank">
                                    <i class="ni-icon ni-icon-instagram-large-grey"><span class="sr-only">Instagram</span></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 footer-logo">
                                <a href="https://www.youtube.com/channel/UCAmEIkQo3IONz6pFu8HX58w" target="_blank">
                                    <i class="ni-icon ni-icon-youtube-large-grey"><span class="sr-only">Youtube</span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <p>{% trans "Nuortenideat.fi on valtakunnallinen vaikuttamispalvelu, jossa nuoret voivat ideoida, osallistua ja vaikuttaa heitä koskeviin asioihin. Palvelun tuottavat yhteistyössä osaamiskeskus Koordinaatti, oikeusministeriö ja opetus- ja kulttuuriministeriö." %}</p>
                    </div>
                </div>
                <div class="row footer-links">
                    <div class="col-md-12">
                        <a href="{% url 'help:linked_instruction_redirect' 'privacy-policy' %}">{% trans "Tietosuojaseloste" %}</a>
                        | <a href="{% url 'help:linked_instruction_redirect' 'accessibility-statement' %}">{% trans "Saavutettavuusseloste" %}</a>
                        | <a href="{% url 'help:linked_instruction_redirect' 'contact-details' %}">{% trans "Yhteystiedot" %}</a>
                        | <a href="{% url 'feedback' %}">{% trans "Palaute" %}</a>
                        | <a href="{% url 'sitemap' %}">{% trans "Sivukartta" %}</a>
                    </div>
                </div>
        </footer>

        {% if firebase.enabled %}
            <div class="nkchat-wrap hidden-xs"></div>
        {% endif %}
        {% if not_deprecated %}
        <a id="fixed-write-idea-large" class="fixed-write-idea btn hidden-xs" href="{% url 'content:create_idea' %}">
            <i class="ni-icon ni-icon-lamp-white"><span class="sr-only">{% trans "Kirjoita idea" %}</span></i>
            {% trans "Kirjoita idea" %}
        </a>

        <a id="fixed-write-idea-small" class="fixed-write-idea btn visible-xs" href="{% url 'content:create_idea' %}" title="{% trans 'Kirjoita uusi idea' %}">
            <i class="ni-icon ni-icon-lamp-white"><span class="sr-only">{% trans "Kirjoita idea" %}</span></i>
        </a>
        {% endif %}
    </body>
</html>
