{% load i18n %}

<section class="info-bar">
    <div class="col-md-12">
        <p>
        {% trans "Nuortenideat.fi on valtakunnallinen vaikuttamispalvelu, jossa nuoret voivat ideoida, osallistua ja vaikuttaa heitä koskeviin asioihin." %}<br>
        {% trans "Kunnat ja muut viranomaiset, koulut, järjestöt ja nuorten vaikuttajaryhmät voivat ottaa palvelun maksutta käyttöönsä." %}<br>
        {% trans "Organisaatiot voivat julkaista palvelussa kyselyitä ja keskusteluita aiheista, joihin halutaan nuorten näkemyksiä." %}<br>
        {% trans "Palvelun tuottavat yhteistyössä osaamiskeskus Koordinaatti, oikeusministeriö ja opetus- ja kulttuuriministeriö." %}</p>
    </div>
</section>