{% extends 'nuka/base.html' %}

{% load i18n bootstrap3 fontawesome %}

{% block breadcrumb_content %}
    <li class="active">{% trans "Kirjaudu sisään" %}</li>
{% endblock breadcrumb_content %}

{% block content %}
    {% url 'account:signup_choices' as signup_url %}

    <div class="well">
        <h1>{% trans "Kirjaudu sisään" %}</h1>

        <div class="row">
            <div class="col-md-5">
                <form method="post" action="{% url 'account:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-lg btn-padded">{% trans "Kirjaudu" %}</button>
                        </div>
                        <div class="col-sm-6 reset-password-link-wrap">
                            <a href="{% url 'account:reset_password' %}">{% trans "Salasana hukassa?" %}</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"><br></div>
        </div>
    </div>

    <div class="text-center well margin-top-1">
        <h2>{% trans "Oletko uusi käyttäjä?" %}</h2>
        {% blocktrans %}Tee tunnus <a href="{{ signup_url }}">rekisteröitymällä</a>{% endblocktrans %}
    </div>
{% endblock content %}
