{%  extends 'nuka/base.html' %}

{%  load i18n bootstrap3 %}

{% block content %}

    {%  if validlink %}
        <div class="well">
            <h1>{%  trans "Kirjoita uusi salasana" %}</h1>

            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "log-in" %} {% trans "Vaihda salasana" %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    {%  else %}
        <h1>{% trans "Virhe salasanan vaihtamisessa" %}</h1>

        <p class="alert alert-warning">{% trans "Salasanan vaihtamislinkki oli virheellinen. Yritä salasanan vaihtamista uudestaan." %}</p>

    {% endif %}

{% endblock content %}
