{% extends "account/profile_base.html" %}

{% load i18n bootstrap3 fontawesome %}

{% block breadcrumb_content %}
    {% if object in perm.account.CanEditUser %}
        <li><a href="{% url 'account:profile' request.user.pk %}">{% trans "Oma sivu" %}</a></li>
        <li class="active">{% trans "Vaihda salasana" %}</li>
    {% else %}
        <li><a href="{% url 'account:profile' request.user.pk %}">{% trans "Käyttäjä" %}</a></li>
        <li class="active">{{ object.get_short_name }}</li>
    {% endif %}
{% endblock breadcrumb_content %}

{% block subcontent %}
    <div class="well">
        <h3>{% trans "Salasanan vaihto" %}</h3>

        <form method="post" action="{% url 'account:password' object.pk %}" autocomplete="off" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "log-in" %} {% trans "Tallenna" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock subcontent %}