{% extends 'account/profile_base.html' %}
{% load i18n static bootstrap3 fontawesome favorites active_class %}

{% block breadcrumb_content %}
    {% if object in perm.account.CanEditUser %}
        <li><a href="{% url 'account:profile' request.user.pk %}">{% trans "Oma sivu" %}</a></li>
        <li class="active">{% trans "Yhteenveto" %}</li>
    {% else %}
        <li><a href="{% url 'account:profile' request.user.pk %}">{% trans "Käyttäjä" %}</a></li>
        <li class="active">{{ object.get_short_name }}</li>
    {% endif %}
{% endblock breadcrumb_content %}

{% block js_extra %}
    <script type="text/javascript" src="{% static "nuka/js/jquery.buttonselect.js" %}"></script>
    <script type="text/javascript" src="{% static "nuka/js/initiatives_export.js" %}"></script>
    <script type="text/javascript" src="{% static "nuka/js/initiative_display_buttons.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            var only_idea_option_values = ['content.idea'];
            var only_idea_options_texts = ['Seuratut ideat', 'Idéer som du följer'];

            $('#id_ct_natural_key').on('change', function(e) {
                var ct_wrap = $('#id_initiative_ct_id_wrap');
                if ($.inArray($(this).val(), only_idea_option_values) !== -1) {
                    ct_wrap.find('label:contains("Kysymykset")').hide();
                    ct_wrap.find('label:contains("Frågor")').hide();
                } else {
                    ct_wrap.find('label').show();
                }
            });

            $('#id_initiative_ct_id').on('change', function(e) {
                if ($(this).val() == '27') {  # 27 = content_type_id for question
                    $.each($('#id_ct_natural_key_wrap').find('button'), function() {
                        if ($.inArray($(this).text(), only_idea_options_texts) !== -1) {
                            $(this).hide();
                        }
                    });
                } else {
                    $('#id_ct_natural_key_wrap').find('label').show();
                }
            });

            $('#export-buttons').appendTo($('#id_ct_natural_key_wrap > .form-control'));
        });
    </script>
{% endblock js_extra %}

{% block subcontent %}
    <div class="well">
        <h2>{% trans "Omat ideat ja kysymykset" %}</h2>

        {% if object == request.user or owns_profile %}
            <form class="ajaxy-form" id="idea-form" data-ajaxy-target="#initiative_list" novalidate method="get" action="{% url 'account:idea_list' user_id=object.pk %}">

                {% bootstrap_field form.initiative_ct_id %}
                <div class="clearfix"></div>

                {% bootstrap_field form.ct_natural_key %}

                {% if request.user.is_moderator %}
                    {% include 'nuka/export/initiatives_export_buttons.html' %}
                {% endif %}
                <div class="clearfix"></div>
            </form>
        {% endif %}
    </div>

    <div class="pull-right">{% include 'nuka/frontpage_display_type_buttons.html' %}</div>

    <div class="loader-gif" style="display:none;"><img src="{% static 'nuka/img/ajax-loader.gif' %}" alt="{% trans "Odotetaan hakutulosta" %}"></div>
    <div class="clearfix"></div>

    <div id="initiative_list" class="initiative-boxes-wrap">
        {% if object_list_user or object_list_organization %}
            {% include "content/initiative_elements_user.html" with initiatives=object_list_user class=all_columns_user hide_title=True %}
            {% include "content/initiative_elements_organization.html" with initiatives=object_list_organization class=all_columns_org hide_title=True %}
        {% else %}
            <div id="initiative-elements" class="no-content">
                <p>{% trans "Hakuehdoilla ei löydetty yhtään ideaa." %}</p>
            </div>
        {% endif %}
    </div>

{% endblock subcontent %}
