{%  extends 'nuka/base.html' %}

{%  load i18n bootstrap3 %}

{%  block content %}

    <div class="well">
        <h1>{%  trans "Salasanan nollaus" %}</h1>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "log-in" %} {% trans "Lähetä salasanan vaihtolinkki" %}
                </button>
            {% endbuttons %}
        </form>
    </div>

{%  endblock content %}
