{% extends 'nuka/base.html' %}

{% load i18n bootstrap3 %}

{% block breadcrumb_content %}
    <li class="active">{% trans "Palaute" %}</li>
{% endblock breadcrumb_content %}

{% block content %}
    <div class="well">
        <h2 style="margin-bottom: 30px;">Palaute</h2>

        <form method="post">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <div style="margin-bottom: 10px">
                    <label style="display: block">Lähettäjä</label>
                    <a href="{% url 'account:profile' user.pk %}">{{ user.get_full_name }}</a>
                </div>
            {% endif %}
            {% bootstrap_form form %}
            <button class="btn btn-default btn-lg">{% trans "Lähetä" %}</button>
        </form>
    </div>
{% endblock %}