{% extends 'nuka/base.html' %}

{% load i18n staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "nkvote/css/gallup.css" %}" type="text/css">
{% endblock css %}

{% block js_extra %}
    {{ block.super }}
    <script src="{% static 'nkvote/js/gallup/form.js' %}"></script>
{% endblock js_extra %}

{% block content %}
<article class="gallup-form-wrap">
    <h1>{% if gallup %}{% trans "Gallupin muokkaus" %}{% else %}{% trans "Uusi gallup" %}{% endif %}</h1>

    <form method="post" class="multilingo-form" id="gallup-form">
        {% csrf_token %}

        <div id="questions_list">
            {% if gallup %}
                {% for question in gallup.question_set.all %}
                    {% include "gallup/form/question.html" with question_id=question.id question_text=question.text question_seq=question.seq_number options=question.option_set.all %}
                {% endfor %}
            {% else %}
                {% include "gallup/form/question.html" with question_seq=1 %}
            {% endif %}
        </div>

        <footer>
            <a id="add-question" class="btn btn-default" href="{% url 'content:gallup:get_question' initiative_id %}">{% trans "Lisää kysymys" %}</a>
            <a id="delete-question" class="btn btn-default">{% trans "Poista kysymys" %}</a>
            <hr />
            <label for="id_default_view">{% trans 'Näytetäänkö tulokset oletuksena heti, vai vasta vastaamisen jälkeen?' %}</label>
            <select id="id_default_view" name="default_view" class="form-control">
                <option value="questions">{% trans 'Vastaamisen jälkeen' %}</option>
                <option value="results" {% if gallup.default_results %}selected{% endif %}>{% trans 'Heti' %}</option>
            </select>
            <hr />
            <label for="id_interaction">{% trans 'Kuka saa vastata gallupiin?' %}</label>
            <select id="id_interaction" name="interaction" class="form-control">
                {% for value, text in interaction_choices %}
                    <option value="{{ value }}" {% if gallup.interaction == value %}selected{% endif %}>{{ text }}</option>
                {% endfor %}
            </select>
            <hr />
            <button type="submit" class="btn btn-default" onclick="refresh_required()">{% trans "Tallenna gallup" %}</button>
            <a href="{% url 'content:idea_detail' initiative_id %}" class="btn btn-default">{% trans "Peruuta" %}</a>
        </footer>

        <script type="text/javascript">
            $(function() {
                var wrap = $("#gallup-form");
                wrap.multilingo({
                    languages: jQuery.parseJSON('{{ languages_json|safe }}'),
                    activeLanguage: "{{ active_language }}",
                    langChoiceText: "{% trans 'Kieliversiot' %}"
                });
            });
        </script>
{% endblock content %}